@{
    ViewBag.Title = "About";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ringer-modal">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">About</h4>
        </div>

        <div class="modal-body">
            put some info about us in here
        </div>
        <div class="modal-footer ringer-modal">
            <ul class="list-inline ">
                <li>
                    <a class="btn btn-default btn-simple modal-btn" data-dismiss="modal">Close</a>
                </li>
            </ul>
        </div>
    </div>
</div>